@model IEnumerable<SalesWebMvc.Models.SalesRecord>

@{
    ViewData["Title"] = "Simple Search";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<!-- Card de Filtro -->
<div class="card shadow-sm mb-4 rounded">
    <div class="card-body ">
        <h5 class="card-title mb-3 ">Filter by date</h5>

        <form asp-action="SimpleSearch" method="get" class="row g-3">
            <div class="col-md-4">
                <label class="form-label">Min Date</label>
                <input type="date"
                       class="form-control"
                       name="minDate"
                       value="@ViewData["minDate"]" />
            </div>

            <div class="col-md-4">
                <label class="form-label">Max Date</label>
                <input type="date"
                       class="form-control"
                       name="maxDate"
                       value="@ViewData["maxDate"]" />
            </div>

            <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-primary px-4 rounded">
                    Filter
                </button>
            </div>
        </form>

    </div>
</div>

<!-- Card da Tabela -->
<div class="card shadow-sm rounded">
    <div class="card-header bg-primary text-white rounded">
        <strong>
            Total sales:
            @Model.Sum(obj => obj.Amount).ToString("F2")
        </strong>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Date)</th>
                        <th>@Html.DisplayNameFor(model => model.Seller)</th>
                        <th>@Html.DisplayNameFor(model => model.Seller!.Department)</th>
                        <th>@Html.DisplayNameFor(model => model.Amount)</th>
                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Date.ToString("dd/MM/yyyy")</td>
                            <td>@item.Seller!.Name</td>
                            <td>@item.Seller!.Department!.Name</td>
                            <td>@item.Amount.ToString("F2")</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
